In [105]:
# Import the Dataset

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

%matplotlib inline

In [106]:
# two-class classification using logistic regression

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math
from sklearn import preprocessing
import sklearn.model_selection as ms
from sklearn import linear_model
import sklearn.metrics as sklm

%matplotlib inline

In [107]:
# Load the Dataset
AdvWorksCusts = pd.read_csv('AdvWorksCustsModel.csv', header=None)

In [108]:
AdvWorksCusts.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,CustomerID,New_Age,New_Education,New_Occupation,New_Gender,New_MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer
1,11000,2,4,4,1,1,1,0,0,2,137947,0
2,11001,2,4,4,1,2,0,1,3,3,101141,1
3,11002,2,4,4,1,1,1,1,3,3,91945,0
4,11003,2,4,4,2,2,0,1,0,0,86688,0

In [109]:
# Make first row the header

new_header = AdvWorksCusts.iloc[0] #grab the first row for the header
AdvWorksCusts = AdvWorksCusts[1:] #take the data less the header row
AdvWorksCusts.columns = new_header #set the header row as the df header

In [110]:
AdvWorksCusts.head()

,CustomerID,New_Age,New_Education,New_Occupation,New_Gender,New_MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer
1,11000,2,4,4,1,1,1,0,0,2,137947,0
2,11001,2,4,4,1,2,0,1,3,3,101141,1
3,11002,2,4,4,1,1,1,1,3,3,91945,0
4,11003,2,4,4,2,2,0,1,0,0,86688,0
5,11004,2,4,4,2,2,1,4,5,5,92771,1

In [111]:
# Check for duplicate rows

print(AdvWorksCusts.shape)
print(AdvWorksCusts.CustomerID.unique().shape)

(16519, 12)
(16404,)

In [112]:
# Remove Duplicate Rows by keeping the first set of CustomerID column

print('Before Removing Duplicate Rows') 
print(AdvWorksCusts.shape)
AdvWorksCusts.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print('After Removing Duplicate Rows')
print(AdvWorksCusts.shape)
print(AdvWorksCusts.CustomerID.unique().shape)

Before Removing Duplicate Rows
(16519, 12)
After Removing Duplicate Rows
(16404, 12)
(16404,)

In [113]:
# Check for Missing Data
AdvWorksCusts.isnull().sum()

0
CustomerID              0
New_Age                 0
New_Education           0
New_Occupation          0
New_Gender              0
New_MaritalStatus       0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
BikeBuyer               0
dtype: int64

In [114]:
# Save the Dataset for Azure ML Studio

# Save the Predicted column to CSV
AdvWorksCusts.to_csv('AdvWorksCusts.csv', AdvWorksCusts)

TypeError: "delimiter" must be string, not DataFrame

In [115]:
# Save the DataSet for AzureML Studio 2
AdvWorksCusts.to_csv('AdvWorksCusts.csv', index=False)

In [76]:
# Drop Columns not needed

AdvWorksCusts = AdvWorksCusts.drop(['CustomerID'], axis=1)
AdvWorksCusts.head()

,New_Age,New_Education,New_Occupation,New_Gender,New_MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,BikeBuyer
1,2,4,4,1,1,1,0,0,2,137947,0
2,2,4,4,1,2,0,1,3,3,101141,1
3,2,4,4,1,1,1,1,3,3,91945,0
4,2,4,4,2,2,0,1,0,0,86688,0
5,2,4,4,2,2,1,4,5,5,92771,1

In [77]:
##  @@@ Selecting the x variables

x = AdvWorksCusts.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]].values

print(x)

[['2' '4' '4' ... '0' '2' '137947']
 ['2' '4' '4' ... '3' '3' '101141']
 ['2' '4' '4' ... '3' '3' '91945']
 ...
 ['2' '5' '3' ... '0' '3' '60417']
 ['2' '5' '3' ... '0' '3' '66653']
 ['2' '4' '3' ... '0' '3' '59736']]

In [ ]:
## Try This

#X = array[:,0:10]
#Y = array[:,10]

# https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

# https://machinelearningmastery.com/save-machine-learning-model-make-predictions-weka/

In [45]:
# Save Model

#filename = 'finalized_model.sav'

In [78]:
# Selecting the Y / Labels Column

y = AdvWorksCusts.iloc[:, 10].values

print(y)

['0' '1' '0' ... '1' '0' '0']

In [79]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
trainx, testx, trainy, testy = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [80]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
trainx = ss.fit_transform(trainx)
testx = ss.transform(testx)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
/home/nbuser/anaconda3_501/lib/python3.6/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [81]:
# Fitting Logistic Regression to the Training set
from sklearn.linear_model import LogisticRegression
logistic_mod = LogisticRegression(random_state = 0)
logistic_mod.fit(trainx, trainy)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=0, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [82]:
# Predicting the Test set results
predicty = logistic_mod.predict(testx)

# Print Predicted Values
print(predicty)

['1' '0' '0' ... '0' '1' '0']

In [83]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(testy, predicty)

cm

array([[2491,  263],
       [ 622,  725]])

In [84]:
# Print and Examine the Model Coefficients

print(logistic_mod.intercept_)
print(logistic_mod.coef_)

[-0.93084996]
[[-0.37910016  0.08487669 -0.12611304 -0.32354991  0.74462346  0.06645696
  -0.15861632  1.14226431  0.00816575  0.60400152]]

In [85]:
# Print Probabilities

probabilities = logistic_mod.predict_proba(testx)
print(probabilities[:15,:])

[[0.32861825 0.67138175]
 [0.80912435 0.19087565]
 [0.75573702 0.24426298]
 [0.87850981 0.12149019]
 [0.48399778 0.51600222]
 [0.84913708 0.15086292]
 [0.64828507 0.35171493]
 [0.72312181 0.27687819]
 [0.90455435 0.09544565]
 [0.73963529 0.26036471]
 [0.60448789 0.39551211]
 [0.44258331 0.55741669]
 [0.87681325 0.12318675]
 [0.87993014 0.12006986]
 [0.67766045 0.32233955]]

In [86]:
# Score and evaluate the classification model

def score_model(probs, threshold):
    return np.array([1 if x > threshold else 0 for x in probs[:,1]])
scores = score_model(probabilities, 0.5)
print(np.array(scores[:15]))
print(testy[:15])

[1 0 0 0 1 0 0 0 0 0 0 1 0 0 0]
['1' '0' '1' '0' '0' '0' '0' '0' '0' '0' '1' '1' '0' '1' '0']

In [87]:
## Accuracy Score
logistic_mod.score(testx, testy)

0.7841989758595465

In [88]:
## Accuracy Score 2

from sklearn.metrics import accuracy_score

acc = accuracy_score(testy, predicty)
print(acc)

0.7841989758595465

In [33]:
# Save the Predicted column to CSV
AdvWorksCusts.to_csv('predicty.csv', predicty)

In [49]:
# Export Predictions
prediction = pd.DataFrame(predicty, columns=['predicty']).to_csv('predicty.csv')

In [ ]:
# Run Model make Predictions on New Data
# https://machinelearningmastery.com/how-to-connect-model-input-data-with-predictions-for-machine-learning/

In [89]:
from sklearn.metrics import accuracy_score
import sklearn as sklm

metrics = sklm.metrics.accuracy_score(testy, predicty, normalize=True, sample_weight=None)
print(metrics)

0.7841989758595465

In [90]:
metrics = sklm.precision_recall_fscore_support(testy, predicty, average='macro')
print(metrics)

AttributeError: module 'sklearn' has no attribute 'precision_recall_fscore_support'

In [91]:
def print_metrics(labels, scores):
    metrics = sklm.metrics.precision_recall_fscore_support(labels, scores)
    conf = sklm.metrics.confusion_matrix(labels, scores)
    print('                 Confusion matrix')
    print('                 Score positive    Score negative')
    print('Actual positive    %6d' % conf[0,0] + '             %5d' % conf[0,1])
    print('Actual negative    %6d' % conf[1,0] + '             %5d' % conf[1,1])
    print('')
    print('Accuracy  %0.2f' % sklm.metrics.accuracy_score(labels, scores))
    print(' ')
    print('           Positive      Negative')
    print('Num case   %6d' % metrics[3][0] + '        %6d' % metrics[3][1])
    print('Precision  %6.2f' % metrics[0][0] + '        %6.2f' % metrics[0][1])
    print('Recall     %6.2f' % metrics[1][0] + '        %6.2f' % metrics[1][1])
    print('F1         %6.2f' % metrics[2][0] + '        %6.2f' % metrics[2][1])
    
print_metrics(testy, predicty)

                 Confusion matrix
                 Score positive    Score negative
Actual positive      2491               263
Actual negative       622               725

Accuracy  0.78

           Positive      Negative
Num case     2754          1347
Precision    0.80          0.73
Recall       0.90          0.54
F1           0.85          0.62

In [92]:
# Plot AUC

# sklearn.metrics.roc_curve(y_true, y_score, *, pos_label=None, sample_weight=None, drop_intermediate=True)

def plot_auc(labels, probs):
    ## Compute the false positive rate, true positive rate
    ## and threshold along with the AUC
    fpr, tpr, threshold = sklm.metrics.roc_curve(labels, probs[:,1])
    auc = sklm.auc(fpr, tpr)
    
    ## Plot the result
    plt.title('Receiver Operating Characteristic')
    plt.plot(fpr, tpr, color = 'orange', label = 'AUC = %0.2f' % auc)
    plt.legend(loc = 'lower right')
    plt.plot([0, 1], [0, 1],'r--')
    plt.xlim([0, 1])
    plt.ylim([0, 1])
    plt.ylabel('True Positive Rate')
    plt.xlabel('False Positive Rate')
    plt.show()
    
plot_auc(testy, probabilities)

"\n# sklearn.metrics.roc_curve(y_true, y_score, *, pos_label=None, sample_weight=None, drop_intermediate=True)\n\ndef plot_auc(labels, probs):\n    ## Compute the false positive rate, true positive rate\n    ## and threshold along with the AUC\n    fpr, tpr, threshold = sklm.metrics.roc_curve(labels, probs[:,1])\n    auc = sklm.auc(fpr, tpr)\n    \n    ## Plot the result\n    plt.title('Receiver Operating Characteristic')\n    plt.plot(fpr, tpr, color = 'orange', label = 'AUC = %0.2f' % auc)\n    plt.legend(loc = 'lower right')\n    plt.plot([0, 1], [0, 1],'r--')\n    plt.xlim([0, 1])\n    plt.ylim([0, 1])\n    plt.ylabel('True Positive Rate')\n    plt.xlabel('False Positive Rate')\n    plt.show()\n    \nplot_auc(testy, probabilities)   "

In [93]:
# Predict New Unseen Dataset


# Load the Dataset
AW_test = pd.read_csv('AW_testModel.csv', header=None)

In [94]:
AW_test.head()

,0,1,2,3,4,5,6,7,8,9,10
0,CustomerID,New_Age,New_Education,New_Occupation,New_Gender,New_MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,18988,3,4,5,2,2,0,2,0,5,86931
2,29135,2,4,2,1,1,1,2,2,4,100125
3,12156,4,5,5,2,1,1,2,0,4,103985
4,13749,2,5,2,1,1,1,0,0,4,127161

In [95]:
# Make first row the header

new_header = AW_test.iloc[0] #grab the first row for the header
AW_test = AW_test[1:] #take the data less the header row
AW_test.columns = new_header #set the header row as the df header
AW_test.head()

,CustomerID,New_Age,New_Education,New_Occupation,New_Gender,New_MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,18988,3,4,5,2,2,0,2,0,5,86931
2,29135,2,4,2,1,1,1,2,2,4,100125
3,12156,4,5,5,2,1,1,2,0,4,103985
4,13749,2,5,2,1,1,1,0,0,4,127161
5,27780,2,2,1,2,1,1,1,2,2,21876

In [97]:
# Check for duplicate rows

print(AW_test.shape)
print(AW_test.CustomerID.unique().shape)

(500, 11)
(500,)

In [98]:
# Remove Duplicate Rows by keeping the first set of CustomerID column

print('Before Removing Duplicate Rows') 
print(AW_test.shape)
AW_test.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print('After Removing Duplicate Rows')
print(AW_test.shape)
print(AW_test.CustomerID.unique().shape)

Before Removing Duplicate Rows
(500, 11)
After Removing Duplicate Rows
(500, 11)
(500,)

In [99]:
# Check for Missing Data
AW_test.isnull().sum()

0
CustomerID              0
New_Age                 0
New_Education           0
New_Occupation          0
New_Gender              0
New_MaritalStatus       0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
dtype: int64

In [ ]:
# Save AW_testModel No Duplicates to the DataSet for AzureML Studio 2
AW_test.to_csv('AW_test.csv', index=False)

In [100]:
# Drop Columns not needed

AW_test = AW_test.drop(['CustomerID'], axis=1)
AW_test.head()

,New_Age,New_Education,New_Occupation,New_Gender,New_MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,3,4,5,2,2,0,2,0,5,86931
2,2,4,2,1,1,1,2,2,4,100125
3,4,5,5,2,1,1,2,0,4,103985
4,2,5,2,1,1,1,0,0,4,127161
5,2,2,1,2,1,1,1,2,2,21876

In [102]:
##  @@@ Selecting the New x variables

new_x = AW_test.iloc[:, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]].values

print(new_x)

[['3' '4' '5' ... '0' '5' '86931']
 ['2' '4' '2' ... '2' '4' '100125']
 ['4' '5' '5' ... '0' '4' '103985']
 ...
 ['4' '4' '5' ... '3' '3' '138097']
 ['3' '3' '4' ... '0' '2' '101465']
 ['3' '2' '2' ... '0' '4' '19108']]

In [103]:

# Predicting the Test set results of Unseen DataSet
new_predicty = logistic_mod.predict(new_x)

# Print Predicted Values
print(new_predicty)

['1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1']

In [104]:
# Export New Unseen Dataset Predictions
new_prediction = pd.DataFrame(new_predicty, columns=['new_predicty']).to_csv('new_predicty.csv')