In [1]:
# Import the Dataset

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

%matplotlib inline

In [39]:
# Load the Dataset
AdvWorksCusts = pd.read_csv('AdvWorksCustsPrep3.csv', header=None)

In [40]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
15    object
16    object
17    object
18    object
19    object
20    object
21    object
22    object
dtype: object

In [41]:
AdvWorksCusts.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688

In [42]:
# Make first row the header

new_header = AdvWorksCusts.iloc[0] #grab the first row for the header
AdvWorksCusts = AdvWorksCusts[1:] #take the data less the header row
AdvWorksCusts.columns = new_header #set the header row as the df header

AdvWorksCusts.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
5,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [43]:
# Remove Duplicate Rows

AdvWorksCusts.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print(AdvWorksCusts.shape)
print(AdvWorksCusts.CustomerID.unique().shape)

(16404, 23)
(16404,)

In [44]:
AdvWorksCusts.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
5,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [25]:
# Select the Last 14 Columns 

AdvWorksCusts = AdvWorksCusts[AdvWorksCusts.columns[-15:]]

In [26]:
AdvWorksCusts.head()

,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,Queensland,Australia,4700,1 (11) 500 555-0162,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,Victoria,Australia,3198,1 (11) 500 555-0110,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,Tasmania,Australia,7001,1 (11) 500 555-0184,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,New South Wales,Australia,2113,1 (11) 500 555-0162,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
5,New South Wales,Australia,2500,1 (11) 500 555-0131,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [45]:
# Drop Columns not needed

AdvWorksCusts = AdvWorksCusts.drop(['PhoneNumber'], axis=1)

In [46]:
AdvWorksCusts.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,1966-04-08,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,1965-05-14,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,1965-08-12,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,1968-02-15,Bachelors,Professional,F,S,0,1,0,0,86688
5,11004,NaN,Elizabeth,NaN,Johnson,NaN,7553 Harness Circle,NaN,Wollongong,New South Wales,...,1968-08-08,Bachelors,Professional,F,S,1,4,5,5,92771

In [37]:
AdvWorksCusts['BirthDate'] = pd.to_datetime(AdvWorksCusts['BirthDate'])

In [47]:
# Convert Birthdate to Age

#from datetime import datetime
#from datetime import date


# Convert Date Of Birth to Time
# AdvWorksCusts['BirthDate'] = AdvWorksCusts['BirthDate'].astype('datetime64[ns]')

def calculate_age(born):
    born = datetime.strptime(born, "%d.%m.%Y").date()
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

AdvWorksCusts['BirthDate'] = AdvWorksCusts['BirthDate'].apply(calculate_age)
print(AdvWorksCusts)

ValueError: time data '1966-04-08' does not match format '%d.%m.%Y'

In [48]:
from datetime import date

def calculate_age(born):
    today = date.today()
    try: 
        birthday = born.replace(year=today.year)
    except ValueError: # raised when birth date is February 29 and the current year is not a leap year
        birthday = born.replace(year=today.year, month=born.month+1, day=1)
    if birthday > today:
        return today.year - born.year - 1
    else:
        return today.year - born.year

In [49]:
AdvWorksCusts['BirthDate'] = AdvWorksCusts['BirthDate'].apply(calculate_age)
print(AdvWorksCusts)

TypeError: replace() takes no keyword arguments

In [53]:
# Load the Dataset
AdvWorksCusts = pd.read_csv('AdvWorksCustsPrep3.csv', header=None)

In [55]:
AdvWorksCusts.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
0,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,NaN,Jon,V,Yang,NaN,3761 N. 14th St,NaN,Rockhampton,Queensland,...,54,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,NaN,Eugene,L,Huang,NaN,2243 W St.,NaN,Seaford,Victoria,...,55,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,NaN,Ruben,NaN,Torres,NaN,5844 Linden Land,NaN,Hobart,Tasmania,...,54,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,NaN,Christy,NaN,Zhu,NaN,1825 Village Pl.,NaN,North Ryde,New South Wales,...,52,Bachelors,Professional,F,S,0,1,0,0,86688

In [56]:
AdvWorksCusts = AdvWorksCusts.drop(['BirthDate1'], axis=1)

KeyError: "['BirthDate1'] not found in axis"

In [57]:
# Select the Last 14 Columns 

AdvWorksCusts = AdvWorksCusts[AdvWorksCusts.columns[-15:]]

In [58]:
AdvWorksCusts.head()

,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,City,StateProvinceName,CountryRegionName,PostalCode,BirthDate1,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,Rockhampton,Queensland,Australia,4700,4/8/1966,54,Bachelors,Professional,M,M,1,0,0,2,137947
2,Seaford,Victoria,Australia,3198,5/14/1965,55,Bachelors,Professional,M,S,0,1,3,3,101141
3,Hobart,Tasmania,Australia,7001,8/12/1965,54,Bachelors,Professional,M,M,1,1,3,3,91945
4,North Ryde,New South Wales,Australia,2113,2/15/1968,52,Bachelors,Professional,F,S,0,1,0,0,86688

In [61]:
# AdvWorksCusts = AdvWorksCusts['BirthDate1'].drop()
'''
del AdvWorksCusts['BirthDate1']
AdvWorksCusts.head()
'''

# Drop Columns not needed

AdvWorksCusts = AdvWorksCusts.drop(['BirthDate1'], axis=1)
AdvWorksCusts.head()


# Choose Columns

cols = ['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
          'TotalChildren', 'YearlyIncome']

KeyError: "['BirthDate1'] not found in axis"

In [62]:
AdvWorksCusts.head()

,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22
0,City,StateProvinceName,CountryRegionName,PostalCode,BirthDate1,BirthDate,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,Rockhampton,Queensland,Australia,4700,4/8/1966,54,Bachelors,Professional,M,M,1,0,0,2,137947
2,Seaford,Victoria,Australia,3198,5/14/1965,55,Bachelors,Professional,M,S,0,1,3,3,101141
3,Hobart,Tasmania,Australia,7001,8/12/1965,54,Bachelors,Professional,M,M,1,1,3,3,91945
4,North Ryde,New South Wales,Australia,2113,2/15/1968,52,Bachelors,Professional,F,S,0,1,0,0,86688