In [62]:
# Import the Dataset

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import numpy.random as nr
import math

%matplotlib inline

In [63]:
# Load the Dataset
AdvWorksCusts = pd.read_csv('AdvWorksCustsPrep4.csv', header=None)

In [64]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
11    object
12    object
13    object
14    object
dtype: object

In [65]:
AdvWorksCusts.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,CustomerID,StateProvinceName,CountryRegionName,PostalCode,BirthDate1,BirthDateAge,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,Queensland,Australia,4700,4/8/1966,54,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,Victoria,Australia,3198,5/14/1965,55,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,Tasmania,Australia,7001,8/12/1965,54,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,New South Wales,Australia,2113,2/15/1968,52,Bachelors,Professional,F,S,0,1,0,0,86688

In [66]:
# Make first row the header

new_header = AdvWorksCusts.iloc[0] #grab the first row for the header
AdvWorksCusts = AdvWorksCusts[1:] #take the data less the header row
AdvWorksCusts.columns = new_header #set the header row as the df header

AdvWorksCusts.head()

,CustomerID,StateProvinceName,CountryRegionName,PostalCode,BirthDate1,BirthDateAge,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,Queensland,Australia,4700,4/8/1966,54,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,Victoria,Australia,3198,5/14/1965,55,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,Tasmania,Australia,7001,8/12/1965,54,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,New South Wales,Australia,2113,2/15/1968,52,Bachelors,Professional,F,S,0,1,0,0,86688
5,11004,New South Wales,Australia,2500,8/8/1968,51,Bachelors,Professional,F,S,1,4,5,5,92771

In [67]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0
CustomerID              object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
BirthDate1              object
BirthDateAge            object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag           object
NumberCarsOwned         object
NumberChildrenAtHome    object
TotalChildren           object
YearlyIncome            object
dtype: object

In [68]:
# Remove Duplicate Rows

print('Before Removing Duplicate Rows') 
print(AdvWorksCusts.shape)
AdvWorksCusts.drop_duplicates(subset = 'CustomerID', keep = 'first', inplace = True)
print('After Removing Duplicate Rows')
print(AdvWorksCusts.shape)
print(AdvWorksCusts.CustomerID.unique().shape)

Before Removing Duplicate Rows
(16404, 15)
After Removing Duplicate Rows
(16404, 15)
(16404,)

In [69]:
AdvWorksCusts.head()

,CustomerID,StateProvinceName,CountryRegionName,PostalCode,BirthDate1,BirthDateAge,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,11000,Queensland,Australia,4700,4/8/1966,54,Bachelors,Professional,M,M,1,0,0,2,137947
2,11001,Victoria,Australia,3198,5/14/1965,55,Bachelors,Professional,M,S,0,1,3,3,101141
3,11002,Tasmania,Australia,7001,8/12/1965,54,Bachelors,Professional,M,M,1,1,3,3,91945
4,11003,New South Wales,Australia,2113,2/15/1968,52,Bachelors,Professional,F,S,0,1,0,0,86688
5,11004,New South Wales,Australia,2500,8/8/1968,51,Bachelors,Professional,F,S,1,4,5,5,92771

In [70]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0
CustomerID              object
StateProvinceName       object
CountryRegionName       object
PostalCode              object
BirthDate1              object
BirthDateAge            object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag           object
NumberCarsOwned         object
NumberChildrenAtHome    object
TotalChildren           object
YearlyIncome            object
dtype: object

In [71]:
# Drop Columns not needed

AdvWorksCusts = AdvWorksCusts.drop(['CustomerID','StateProvinceName','BirthDate1'], axis=1)
AdvWorksCusts.head()

,CountryRegionName,PostalCode,BirthDateAge,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,Australia,4700,54,Bachelors,Professional,M,M,1,0,0,2,137947
2,Australia,3198,55,Bachelors,Professional,M,S,0,1,3,3,101141
3,Australia,7001,54,Bachelors,Professional,M,M,1,1,3,3,91945
4,Australia,2113,52,Bachelors,Professional,F,S,0,1,0,0,86688
5,Australia,2500,51,Bachelors,Professional,F,S,1,4,5,5,92771

In [72]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0
CountryRegionName       object
PostalCode              object
BirthDateAge            object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag           object
NumberCarsOwned         object
NumberChildrenAtHome    object
TotalChildren           object
YearlyIncome            object
dtype: object

In [73]:
# Check for Missing Values
AdvWorksCusts.isnull()

,CountryRegionName,PostalCode,BirthDateAge,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
16375,False,False,False,False,False,False,False,False,False,False,False,False
16376,False,False,False,False,False,False,False,False,False,False,False,False
16377,False,False,False,False,False,False,False,False,False,False,False,False
16378,False,False,False,False,False,False,False,False,False,False,False,False
16379,False,False,False,False,False,False,False,False,False,False,False,False
16380,False,False,False,False,False,False,False,False,False,False,False,False
16381,False,False,False,False,False,False,False,False,False,False,False,False
16382,False,False,False,False,False,False,False,False,False,False,False,False
16383,False,False,False,False,False,False,False,False,False,False,False,False
16384,False,False,False,False,False,False,False,False,False,False,False,False
16385,False,False,False,False,False,False,False,False,False,False,False,False
16386,False,False,False,False,False,False,False,False,False,False,False,False
16387,False,False,False,False,False,False,False,False,False,False,False,False
16388,False,False,False,False,False,False,False,False,False,False,False,False
16389,False,False,False,False,False,False,False,False,False,False,False,False
16390,False,False,False,False,False,False,False,False,False,False,False,False
16391,False,False,False,False,False,False,False,False,False,False,False,False
16392,False,False,False,False,False,False,False,False,False,False,False,False
16393,False,False,False,False,False,False,False,False,False,False,False,False
16394,False,False,False,False,False,False,False,False,False,False,False,False
16395,False,False,False,False,False,False,False,False,False,False,False,False
16396,False,False,False,False,False,False,False,False,False,False,False,False
16397,False,False,False,False,False,False,False,False,False,False,False,False
16398,False,False,False,False,False,False,False,False,False,False,False,False
16399,False,False,False,False,False,False,False,False,False,False,False,False
16400,False,False,False,False,False,False,False,False,False,False,False,False
16401,False,False,False,False,False,False,False,False,False,False,False,False
16402,False,False,False,False,False,False,False,False,False,False,False,False
16403,False,False,False,False,False,False,False,False,False,False,False,False
16404,False,False,False,False,False,False,False,False,False,False,False,False

In [74]:
# Count Missing Values Per String Columns

for col in AdvWorksCusts.columns:
    if AdvWorksCusts[col].dtype == object:
        count = 0
        count = [count + 1 for x in AdvWorksCusts[col] if x == 'NaN']
        print(col + ' ' + str(sum(count)))

CountryRegionName 0
PostalCode 0
BirthDateAge 0
Education 0
Occupation 0
Gender 0
MaritalStatus 0
HomeOwnerFlag 0
NumberCarsOwned 0
NumberChildrenAtHome 0
TotalChildren 0
YearlyIncome 0

In [75]:
# Replace British Columbia, Alberta And Englands Zip-Codes

# AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace(25.0, "Twenty five")
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V0', 10000)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V2L3W8', 10001)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V2M1N7', 10002)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V2M1P1', 10003)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V2M1S6', 10004)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V2W 1W2', 10005)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V3A 4R2', 10006)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V3J 6Z3', 10007)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V3L 1E7', 10008)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V3L 1H4', 10009)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V6B 3P7', 10010)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V7L 4J4', 10011)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V8P', 10012)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V8V', 10013)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V8X', 10014)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V8Y 1L1', 10015)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V8Z 4N5', 10016)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V9', 10017)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V9B 2C3', 10018)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('V9B 5T2', 10019)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('AS23', 20000)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('B29 6SL', 20001)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('BD1 4SJ', 20002)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('C2H 7AU', 20003)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('CB4 4BZ', 20004)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('CM11', 20005)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('E17 6JF', 20006)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('EC1R 0DU', 20007)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('EM15', 20008)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('GA10', 20009)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('GL50', 20010)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('GL7 1RY', 20011)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('HP10 9QY', 20012)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('KB9', 20013)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('L4 4HB', 20014)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('LA1 1LN', 20015)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('LE18', 20016)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('MK8 8DF', 20017)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('MK8 8ZD', 20018)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('NT20', 20019)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('OX1', 20021)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('OX14 4SE', 20021)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('OX16 8RS', 20022)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('PB12', 20023)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('PE17', 20024)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('RG11 5TP', 20025)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('RG12 8TB', 20026)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('RG24 8PL', 20027)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('RG41 1QW', 20028)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('RG7 5H7', 20029)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('RH15 9UD', 20030)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('SE1 8HL', 20031)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('SL4 1RH', 20032)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('RH15 9UD', 20030)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('SL67RJ', 20031)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('SW19 3RU', 20032)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('SW1P 2NU', 20033)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('SW6 SBY', 20034)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('SW8 1XD', 20035)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('SW8 4BG', 20036)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('TY31', 20037)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('W10 6BL', 20038)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('W1N 9FA', 20039)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('W1V 5RN', 20040)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('W1X3SE', 20041)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('W1Y 3RA', 20042)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('WA1', 20043)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('WA1 4SY', 20044)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('WA3', 20045)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('WA3 7BH', 20046)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('Y024 1GF', 20047)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('Y03 4TN', 20048)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('YO15', 20049)
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].replace('T2P 2G8', 20050)

In [76]:
AdvWorksCusts.head(20)

,CountryRegionName,PostalCode,BirthDateAge,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,Australia,4700,54,Bachelors,Professional,M,M,1,0,0,2,137947
2,Australia,3198,55,Bachelors,Professional,M,S,0,1,3,3,101141
3,Australia,7001,54,Bachelors,Professional,M,M,1,1,3,3,91945
4,Australia,2113,52,Bachelors,Professional,F,S,0,1,0,0,86688
5,Australia,2500,51,Bachelors,Professional,F,S,1,4,5,5,92771
6,Australia,4169,54,Bachelors,Professional,M,S,1,1,0,0,103199
7,Australia,2036,54,Bachelors,Professional,F,S,1,1,0,0,84756
8,Australia,3280,56,Bachelors,Professional,M,M,1,2,3,3,109759
9,Australia,3550,55,Bachelors,Professional,F,S,1,3,4,4,88005
10,Australia,4655,56,Bachelors,Professional,M,S,0,1,0,0,106399
11,Australia,4169,56,Bachelors,Professional,F,S,0,1,0,0,81294
12,Australia,4169,56,Bachelors,Professional,M,M,1,4,4,4,94029
13,United States,98312,52,Bachelors,Management,F,M,1,2,0,2,99245
14,United States,97355,51,Bachelors,Management,M,M,1,3,0,2,115859
15,United States,98052,52,Bachelors,Management,F,S,0,3,0,3,105157
16,United States,91502,41,Partial College,Skilled Manual,F,S,0,1,0,0,40011
17,United States,91932,41,Partial College,Skilled Manual,M,M,1,1,0,0,46808
18,Canada,10006,42,High School,Skilled Manual,M,S,0,2,0,0,49455
19,Canada,10017,41,High School,Skilled Manual,M,S,0,2,0,0,43857
20,United States,90706,41,Partial College,Skilled Manual,M,M,1,1,0,0,50046

In [77]:
# Extract the first 5 strings from the ZipCode
#sales_data["zip_code"] = sales_data["zip_code"].str[:5]
AdvWorksCusts["PostalCode"] = AdvWorksCusts["PostalCode"].str[:5]

In [78]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0
CountryRegionName       object
PostalCode              object
BirthDateAge            object
Education               object
Occupation              object
Gender                  object
MaritalStatus           object
HomeOwnerFlag           object
NumberCarsOwned         object
NumberChildrenAtHome    object
TotalChildren           object
YearlyIncome            object
dtype: object

In [53]:

AdvWorksCusts.head(20)

,CountryRegionName,PostalCode,BirthDateAge,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,Australia,4700,54,Bachelors,Professional,M,M,1,0,0,2,137947
2,Australia,3198,55,Bachelors,Professional,M,S,0,1,3,3,101141
3,Australia,7001,54,Bachelors,Professional,M,M,1,1,3,3,91945
4,Australia,2113,52,Bachelors,Professional,F,S,0,1,0,0,86688
5,Australia,2500,51,Bachelors,Professional,F,S,1,4,5,5,92771
6,Australia,4169,54,Bachelors,Professional,M,S,1,1,0,0,103199
7,Australia,2036,54,Bachelors,Professional,F,S,1,1,0,0,84756
8,Australia,3280,56,Bachelors,Professional,M,M,1,2,3,3,109759
9,Australia,3550,55,Bachelors,Professional,F,S,1,3,4,4,88005
10,Australia,4655,56,Bachelors,Professional,M,S,0,1,0,0,106399
11,Australia,4169,56,Bachelors,Professional,F,S,0,1,0,0,81294
12,Australia,4169,56,Bachelors,Professional,M,M,1,4,4,4,94029
13,United States,98312,52,Bachelors,Management,F,M,1,2,0,2,99245
14,United States,97355,51,Bachelors,Management,M,M,1,3,0,2,115859
15,United States,98052,52,Bachelors,Management,F,S,0,3,0,3,105157
16,United States,91502,41,Partial College,Skilled Manual,F,S,0,1,0,0,40011
17,United States,91932,41,Partial College,Skilled Manual,M,M,1,1,0,0,46808
18,Canada,NaN,42,High School,Skilled Manual,M,S,0,2,0,0,49455
19,Canada,NaN,41,High School,Skilled Manual,M,S,0,2,0,0,43857
20,United States,90706,41,Partial College,Skilled Manual,M,M,1,1,0,0,50046

In [79]:
# Convert Columns to Numeric

cols = ['PostalCode', 'BirthDateAge', 'HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome',
          'TotalChildren', 'YearlyIncome']

for column in cols:
    AdvWorksCusts[column] = pd.to_numeric(AdvWorksCusts[column])
AdvWorksCusts[cols].dtypes

0
PostalCode              float64
BirthDateAge              int64
HomeOwnerFlag             int64
NumberCarsOwned           int64
NumberChildrenAtHome      int64
TotalChildren             int64
YearlyIncome              int64
dtype: object

In [80]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0
CountryRegionName        object
PostalCode              float64
BirthDateAge              int64
Education                object
Occupation               object
Gender                   object
MaritalStatus            object
HomeOwnerFlag             int64
NumberCarsOwned           int64
NumberChildrenAtHome      int64
TotalChildren             int64
YearlyIncome              int64
dtype: object

In [81]:
#AdvWorksCusts.shape()
AdvWorksCusts.describe()

,PostalCode,BirthDateAge,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
count,13297.000000,16404.000000,16404.000000,16404.000000,16404.000000,16404.000000,16404.000000
mean,65122.144769,57.856498,0.674104,1.499756,0.991100,2.004511,78128.531517
std,39215.657199,11.250557,0.468723,1.139135,1.514278,1.682318,39726.533060
min,1002.000000,39.000000,0.000000,0.000000,0.000000,0.000000,9482.000000
25%,12171.000000,49.000000,0.000000,1.000000,0.000000,0.000000,47811.750000
50%,91364.000000,56.000000,1.000000,2.000000,0.000000,2.000000,76125.000000
75%,94704.000000,65.000000,1.000000,2.000000,2.000000,3.000000,105200.250000
max,99362.000000,109.000000,1.000000,4.000000,5.000000,5.000000,196511.000000

In [82]:
# Check for Missing Values
AdvWorksCusts.isnull()

,CountryRegionName,PostalCode,BirthDateAge,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False
18,False,True,False,False,False,False,False,False,False,False,False,False
19,False,True,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
16375,False,False,False,False,False,False,False,False,False,False,False,False
16376,False,False,False,False,False,False,False,False,False,False,False,False
16377,False,False,False,False,False,False,False,False,False,False,False,False
16378,False,False,False,False,False,False,False,False,False,False,False,False
16379,False,False,False,False,False,False,False,False,False,False,False,False
16380,False,False,False,False,False,False,False,False,False,False,False,False
16381,False,False,False,False,False,False,False,False,False,False,False,False
16382,False,False,False,False,False,False,False,False,False,False,False,False
16383,False,False,False,False,False,False,False,False,False,False,False,False
16384,False,False,False,False,False,False,False,False,False,False,False,False
16385,False,False,False,False,False,False,False,False,False,False,False,False
16386,False,False,False,False,False,False,False,False,False,False,False,False
16387,False,False,False,False,False,False,False,False,False,False,False,False
16388,False,False,False,False,False,False,False,False,False,False,False,False
16389,False,False,False,False,False,False,False,False,False,False,False,False
16390,False,True,False,False,False,False,False,False,False,False,False,False
16391,False,True,False,False,False,False,False,False,False,False,False,False
16392,False,False,False,False,False,False,False,False,False,False,False,False
16393,False,False,False,False,False,False,False,False,False,False,False,False
16394,False,False,False,False,False,False,False,False,False,False,False,False
16395,False,True,False,False,False,False,False,False,False,False,False,False
16396,False,False,False,False,False,False,False,False,False,False,False,False
16397,False,False,False,False,False,False,False,False,False,False,False,False
16398,False,False,False,False,False,False,False,False,False,False,False,False
16399,False,True,False,False,False,False,False,False,False,False,False,False
16400,False,True,False,False,False,False,False,False,False,False,False,False
16401,False,False,False,False,False,False,False,False,False,False,False,False
16402,False,True,False,False,False,False,False,False,False,False,False,False
16403,False,False,False,False,False,False,False,False,False,False,False,False
16404,False,False,False,False,False,False,False,False,False,False,False,False

CountryRegionName 0
Education 0
Occupation 0
Gender 0
MaritalStatus 0

In [18]:
# Drop Row with Missing Data
# AdvWorksCusts.dropna(axis = 0, inplace = True)

0
HomeOwnerFlag           int64
NumberCarsOwned         int64
NumberChildrenAtHome    int64
TotalChildren           int64
YearlyIncome            int64
dtype: object

In [83]:
# Check Datatypes for each Column
AdvWorksCusts.dtypes

0
CountryRegionName        object
PostalCode              float64
BirthDateAge              int64
Education                object
Occupation               object
Gender                   object
MaritalStatus            object
HomeOwnerFlag             int64
NumberCarsOwned           int64
NumberChildrenAtHome      int64
TotalChildren             int64
YearlyIncome              int64
dtype: object